<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Tipo</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link href="css/admin.css" rel="stylesheet" />
    <style>
         .navbar-custom {
            background-color: rgb(255, 198, 10); /* Color amarillo */
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light navbar-custom">
        <a class="navbar-brand" style="color: rgb(0, 0, 0);" href="#">Editar Tipo</a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto"></ul>
            <a href="/tipos/tipo" class="btn btn-warning text-dark fw-bold mr-3">Volver</a>
        </div>
    </nav>

    <div class="container mt-5">
        <div class="card">
            <div class="card-header">
                <h2>Editar Tipo</h2>
            </div>
            <div class="card-body">
                <form action="/tipos/guardar" method="post" class="form-container">
                    <input type="hidden" name="id_tipo" th:value="${tipos.id_tipo}"> <!-- Campo oculto para ID -->
                    <div class="form-group">
                        <label for="tipo-nombre">Nombre</label>
                        <input type="text" name="nombre" class="form-control" id="tipo-nombre" th:value="${tipos.nombre}" required>
                    </div>
                    <button type="submit" class="btn btn-warning edit-btn" data-redirect="/tipos/tipo">Guardar Cambios</button>
                </form>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="/js/editarLista.js"></script>
</body>
</html>
