<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Módulo de Administradores</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link href="/css/carro.css" rel="stylesheet" />
    <style>
        .navbar-custom {
            background-color: rgb(255, 198, 10);
        }

        /* Estilo para el borde de la imagen seleccionada */
        .imagen-seleccionada {
            border: 3px solid #007bff; /* Borde azul */
            box-shadow: 0 4px 8px rgba(0, 123, 255, 0.3); /* Sombra azul para un efecto más destacado */
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light navbar-custom fixed-top">
        <a class="navbar-brand" href="/">Carros</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <a href="/controller_carro/listaCar" class="btn btn-warning text-dark fw-bold mr-3">Lista Carros</a>
            </ul>
            <a href="/controller_carro/opciones" class="btn btn-warning text-dark fw-bold mr-3">Detalles Carros</a>
            <a href="/admin" class="btn btn-warning text-dark fw-bold">Administrador</a>
        </div>
    </nav>

    <div class="container mt-5 pt-5">
        <form action="/controller_carro/guardar" method="post" enctype="multipart/form-data" class="card">
            <div class="card-header">
                <h2>Agregar Carro</h2>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="precio_carro">Precio</label>
                            <input type="number" name="precio_carro" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="color_carro">Color</label>
                            <input type="text" name="color_carro" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="estado">Estado</label>
                            <select name="estado" class="form-control" required>
                                <option value="1">Activo</option>
                                <option value="0">Inactivo</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="ano">Año</label>
                            <input type="number" name="ano" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="combustible">Combustible</label>
                            <select name="combustible" class="form-control" required>
                                <option value="1">Gasolina</option>
                                <option value="0">Electrico</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="numero_puertas">Puertas</label>
                            <input type="number" name="numero_puertas" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="observaciones">Observaciones</label>
                            <input type="text" name="observaciones" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="transmision">Transmisión</label>
                            <select name="transmision" class="form-control" required>
                                <option value="1">Automatico</option>
                                <option value="0">Manual</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="disponibilidad">Disponibilidad</label>
                            <select name="disponibilidad" class="form-control" required>
                                <option value="1">Disponible</option>
                                <option value="0">No Disponible</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="kilometraje">Kilometraje</label>
                            <input type="number" name="kilometraje" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="numero_placa">Placa</label>
                            <input type="text" name="numero_placa" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="numero_vin">VIN</label>
                            <input type="text" name="numero_vin" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="marca">Marca</label>
                            <select class="form-control" name="marca" required>
                                <option value="">Seleccione una marca</option>
                                <option th:each="marca : ${marcas}" th:value="${marca.id_marca}"
                                    th:text="${marca.nombre_marca}"></option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="modelo">Modelo</label>
                            <select class="form-control" name="modelo" required>
                                <option value="">Seleccione un modelo</option>
                                <option th:each="modelo : ${modelos}" th:value="${modelo.id_modelo}"
                                    th:text="${modelo.nombre_modelo}"></option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="tipo">Tipo</label>
                            <select class="form-control" name="tipo" required>
                                <option value="">Seleccione un tipo</option>
                                <option th:each="tipo : ${tipos}" th:value="${tipo.id_tipo}" th:text="${tipo.nombre}"></option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="imagen">Imágenes</label>
                            <div class="row" style="max-height: 400px; overflow-y: auto; padding: 1rem;">
                                <div class="col-6 col-sm-4 col-md-3 col-lg-3 mb-4" th:each="imagen : ${imagen}">
                                    <div class="card" style="border: 1px solid #ddd; border-radius: 8px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
                                        <label style="cursor: pointer; display: block; position: relative;">
                                            <input type="radio"
                                                   name="imagen"
                                                   th:value="${imagen.id_imagen}"
                                                   id="imagen-${imagen.id_imagen}"
                                                   required
                                                   th:attr="onchange='imagenSeleccionada(this)'"
                                                   style="display: none;" />
                                            <img th:src="@{'/' + ${imagen.ruta_imagen}}"
                                                 class="card-img-top imagen-card"
                                                 alt="Imagen"
                                                 style="width: 100%; height: auto; object-fit: cover; transition: transform 0.3s ease;"
                                                 onmouseover="this.style.transform='scale(1.1)';"
                                                 onmouseout="this.style.transform='scale(1)';" />
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <script>
                            function imagenSeleccionada(radioButton) {
                                const imagenes = document.querySelectorAll('.imagen-card');
                                imagenes.forEach(imagen => imagen.classList.remove('imagen-seleccionada'));
                                const imagenSeleccionada = radioButton.closest('.col-md-3').querySelector('.imagen-card');
                                imagenSeleccionada.classList.add('imagen-seleccionada');
                                document.getElementById('imagenSeleccionada').textContent = radioButton.value;
                            }
                        </script>

                        <div class="text-center">
                            <button type="submit" id="btnAgregarCarro" class="btn btn-warning mt-3">Agregar Carro</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="/js/alertaAgregarCarro.js"></script>
</body>

</html>