<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Módulo de Administradores</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link href="css/admin.css" rel="stylesheet" />
    <style>
         .navbar-custom {
            background-color:rgb(255, 198, 10); /* Color amarillo */
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light navbar-custom">
        <a class="navbar-brand" style="color: rgb(0, 0, 0);" href="#">Detalles Carros</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" style="color: rgb(0, 0, 0);  font-size: 20px;" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Listas
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/marcas/marca">Lista Marca</a>
                        <a class="dropdown-item" href="/modelos/modelo">Lista Modelo</a>
                        <a class="dropdown-item" href="/tipos/tipo">Lista Tipo</a>
                        <a class="dropdown-item" href="/imagenes/imagen">Lista Imagen</a>

                    </div>
                </li>
            </ul>
            <a href="/controller_carro/gestionar" class="btn btn-warning text-dark fw-bold mr-3">Volver</a>
        </div>
    </nav>

    <form action="/marcas/guardar" method="post" class="container mt-5">
        <div class="card">
            <div class="card-header">
                <h2>Agregar Marca</h2>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <label for="nombre_marca">Nombre</label>
                    <input type="text" name="nombre_marca" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="origen_marca">Origen</label>
                    <input type="text" name="origen_marca" class="form-control" required>
                </div>
                <button type="submit" class="btn btn-warning btn-agregar" data-redirect="/marcas/marca">Agregar Marca</button>
            </div>
        </div>
    </form>
    
    <!-- Formulario de Modelo -->
    <form action="/modelos/guardar" method="post" class="container mt-5">
        <div class="card">
            <div class="card-header">
                <h2>Agregar Modelo</h2>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <label for="nombre_modelo">Nombre</label>
                    <input type="text" name="nombre_modelo" class="form-control" required>
                </div>
                <button type="submit" class="btn btn-warning btn-agregar" data-redirect="/modelos/modelo">Agregar Modelo</button>
            </div>
        </div>
    </form>
    
    <!-- Formulario de Tipo -->
    <form action="/tipos/guardar" method="post" class="container mt-5">
        <div class="card">
            <div class="card-header">
                <h2>Agregar Tipo</h2>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input type="text" name="nombre" class="form-control" required>
                </div>
                <button type="submit" class="btn btn-warning btn-agregar" data-redirect="/tipos/tipo">Agregar Tipo</button>
            </div>
        </div>
    </form>
    
    <!-- Formulario de Imagen -->
    <form action="/imagenes/guardar" method="post" enctype="multipart/form-data" class="container mt-5">
        <div class="card">
            <div class="card-header">
                <h2>Agregar Imagen</h2>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <label for="tipo">Tipo</label>
                    <input type="text" name="tipo" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="imagen">Imagen</label>
                    <input type="file" name="imagen" class="form-control" required>
                </div>
                <button type="submit" class="btn btn-warning btn-agregar" data-redirect="/imagenes/imagen">Agregar Imagen</button>
            </div>
        </div>
    </form>


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="/js/opcionesCarros.js"></script>
</body>
</html>
